[submodule "libdatachannel"]
	path = libdatachannel
	url = ../libdatachannel
	branch = main
[submodule "libjuice"]
	path = libjuice
	url = ../libjuice
	branch = main
[submodule "libsrtp"]
	path = libsrtp
	url = ../libsrtp
	branch = main
[submodule "usrsctp"]
	path = usrsctp
	url = ../usrsctp
	branch = main
[submodule "srtp2"]
	path = srtp2
	url = ../srtp2
	branch = main
